@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #010B14;
}
body main {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #010B14;
}

body::-webkit-scrollbar-thumb {
  background-color: #A64249;
  outline: 1px solid #A64249;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #010B14;
}
body main {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #010B14;
}

body::-webkit-scrollbar-thumb {
  background-color: #A64249;
  outline: 1px solid #A64249;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #011627;
}
header .header_logo {
  cursor: pointer;
  height: 100%;
  position: relative;
  padding: 5px 0;
}
header .header_logo img {
  height: 100%;
  width: auto;
  background-size: contain;
}
header .header_nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header .header_nav .nav_option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FEFCFB;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: background-color;
}
header .header_nav .nav_option:hover {
  background-color: #02223C;
}
header .header_user {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: background-color;
}
header .header_user .user_pfp {
  position: relative;
  height: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header_user .user_pfp img {
  height: 100%;
  width: auto;
}
header .header_user .user_pfp::after {
  content: "";
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FEFCFB;
}
header .header_user:hover {
  background-color: #02223C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #010B14;
}
body main {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #010B14;
}

body::-webkit-scrollbar-thumb {
  background-color: #A64249;
  outline: 1px solid #A64249;
}

footer {
  width: 100%;
  height: 50vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .upper_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
footer .upper_wrapper .footer_logo {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .upper_wrapper .footer_logo img {
  width: 100%;
  height: auto;
}
footer .upper_wrapper .footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
  flex-direction: column;
  height: 100%;
}
footer .upper_wrapper .footer_nav .nav_option {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FEFCFB;
  border-bottom: 2px solid transparent;
  transition-property: border-bottom;
  transition-duration: 0.3s;
  cursor: pointer;
}
footer .upper_wrapper .footer_nav .nav_option:hover {
  border-bottom: 2px solid #A64249;
}
footer p {
  height: 20px;
  color: #FEFCFB;
}

.seats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.seats .seats_detail {
  width: 30%;
  height: 100%;
  display: flex;
  padding: 0 0 0 50px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #FEFCFB;
  font-family: "Montserrat", sans-serif;
}
.seats .seats_detail .detail_title {
  font-size: 26px;
  font-weight: 600;
}
.seats .seats_detail .detail_info {
  font-size: 32px;
  font-weight: 700;
}
.seats .seats_detail .detail_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
}
.seats .seats_detail .detail_buttons .buttons_button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #FEFCFB;
  cursor: pointer;
  border: 5px solid #067BC2;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.seats .seats_detail .detail_buttons .buttons_button:hover {
  background-color: #067BC2;
}
.seats .seats_detail .detail_buttons .buttons_button.buttons_button-reserve {
  margin-left: 20px;
}
.seats .seats_detail .detail_buttons .buttons_button.buttons_button-buy {
  background-color: #067BC2;
}
.seats .seats_seats {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.seats .seats_seats .break {
  min-height: 1px;
  flex-basis: 100%;
}
.seats .seats_seats .seats_seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #067BC2;
  border-radius: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  transition-duration: 0.3s;
  transition-property: background-color;
  cursor: pointer;
}
.seats .seats_seats .seats_seat:hover {
  background-color: #067BC2;
}
.seats .seats_seats .seats_seat.seats_seat-taken {
  border: none;
  background-color: #A64249;
  cursor: no-drop;
}
.seats .seats_seats .seats_seat.seats_seat-reserved {
  border: none;
  background-color: #D17B0F;
  cursor: no-drop;
}
.seats .seats_seats .seats_seat.seats_seat-chosen {
  background-color: #067BC2;
}/*# sourceMappingURL=tickets.css.map */