@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$red: #A64249;
$black: #011627;
$black_light: #02223C;
$white: #FEFCFB;
$blue: #067BC2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
