<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <img src="../assets/images/logo.png" alt="logo" class="logo_img">
        </div>
        <nav class="header_nav">
            <div class="nav_option">Home</div>
            <div class="nav_option">About</div>
            <div class="nav_option">Movies</div>
            <div class="nav_option">Contacts</div>
        </nav>
        <div class="header_user">
            <div class="user_pfp">
                <img src="../assets/images/user_pfp.png" alt="pfp" class="pfp_image">
            </div>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>