<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <img src="../assets/images/logo.png" alt="logo" class="logo_img">
        </div>
        <nav class="header_nav">
            <div class="nav_option">Home</div>
            <div class="nav_option">About</div>
            <div class="nav_option">Movies</div>
            <div class="nav_option">Contacts</div>
        </nav>
        <div class="header_user">
            <div class="user_pfp">
                <img src="../assets/images/user_pfp.png" alt="pfp" class="pfp_image">
            </div>
        </div>
    </header>
    <main>
    <section class="carousel">
        <div class="carousel_content">
            <div class="content_label">
                <img src="../assets/images/labels/deadpool.png" alt="label" id="currLabel">
            </div>  
            <p class="content_description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus quasi placeat veniam assumenda molestias, nam deleniti eius quaerat, voluptatum, perspiciatis inventore velit fugit nobis eum ex corrupti aut omnis. Accusantium!</p> 
            <button class="content_buy">Buy tickets</button>
        </div>
        <div class="carousel_movie">
            <div class="movie_content"><img src="../assets/images/movies/deadpool.jpg" alt="movie" id="currMovie"></div>
        </div>
    </section>
    <section class="whyus">
        <div class="whyus_backdrop">
            <p class="whyus_title">Why us?</p>
            <p class="whyus_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam in, ipsa excepturi officiis fuga similique at illum facere nisi, quasi atque eum adipisci tempora voluptate aut repellat optio! Adipisci, ex!</p>
        </div>
    </section>
    </main>
    <footer>
        <div class="upper_wrapper">
            <div class="footer_logo">
                <img src="../assets/images/logo.png" alt="logo" class="logo_img">
            </div>
            <nav class="footer_nav">
                <div class="nav_option">Home</div>
                <div class="nav_option">About</div>
                <div class="nav_option">Movies</div>
                <div class="nav_option">Contacts</div>
            </nav>
        </div>
        <div class="bottom_wrapper">
            <p>Made by Vladyslav Pavlysko. 2024</p>
        </div>
    </footer>
</body>
<script src="../js/home.js"></script>
</html>