<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy tickets</title>
    <link rel="stylesheet" href="../css/movies.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <img src="../assets/images/logo.png" alt="logo" class="logo_img">
        </div>
        <nav class="header_nav">
            <div class="nav_option" id="home">Home</div>
            <div class="nav_option">About</div>
            <div class="nav_option" id="movies">Movies</div>
            <div class="nav_option">Contacts</div>
        </nav>
        <div class="header_user" id="logout">
            <div class="user_pfp">
                <img src="../assets/images/user_pfp.png" alt="pfp" class="pfp_image">
            </div>
        </div>
    </header>
    <main>
        <section class="movies">
            <p class="movies__title">List of movies</p>
            <div class="movies__container">
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                <div class="movies__movie">
                    <div class="movie__logo">
                        <img src="../assets/images/movies/dm.jpg" alt="movie" class="movie__logo">
                    </div>
                    <p class="movie__title">Despicable me 2</p>
                    <button class="movie__buytickets buy">Buy tickets</button>
                </div>
                
            </div> 
        </section>
    </main>
    <footer>
        <div class="upper_wrapper">
            <div class="footer_logo">
                <img src="../assets/images/logo.png" alt="logo" class="logo_img">
            </div>
            <nav class="footer_nav">
                <div class="nav_option">Home</div>
                <div class="nav_option">About</div>
                <div class="nav_option">Movies</div>
                <div class="nav_option">Contacts</div>
            </nav>
        </div>
        <div class="bottom_wrapper">
            <p>Made by Vladyslav Pavlysko. 2024</p>
        </div>
    </footer>
</body>
<script>
    Array.from(document.getElementsByClassName('movie__buytickets buy')).forEach((el) => {
        el.onclick = () => {
            var url = "../views/tickets.html";
            window.location.href = url;
        }
    })
    document.getElementById('home').onclick = () => {
        var url = "./home.html";
    window.location.href = url;
    }
    
    document.getElementById('movies').onclick = () => {
        var url = "./movies.html";
    window.location.href = url;
    }

    document.getElementById('logout').onclick = () => {
        var url = "./login.html";
    window.location.href = url;
    }
</script>
</html>