<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy tickets</title>
    <link rel="stylesheet" href="../css/tickets.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <img src="../assets/images/logo.png" alt="logo" class="logo_img">
        </div>
        <nav class="header_nav">
            <div class="nav_option" id="home">Home</div>
            <div class="nav_option">About</div>
            <div class="nav_option" id="movies">Movies</div>
            <div class="nav_option">Contacts</div>
        </nav>
        <div class="header_user" id="logout">
            <div class="user_pfp">
                <img src="../assets/images/user_pfp.png" alt="pfp" class="pfp_image">
            </div>
        </div>
    </header>
    <main>
        <section class="seats">
            <div class="seats_detail">
                <p class="detail_title">Chosen seat:</p>
                <p class="detail_info">Row: 8, Seat: 5</p>
                <div class="detail_buttons">
                    <button class="buttons_button buttons_button-buy">
                        Buy
                    </button>
                    <button class="buttons_button buttons_button-reserve">
                        Reserve
                    </button>
                </div>
            </div>
            <div class="seats_seats">
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>
                <div class="break"></div>     
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>
                <div class="break"></div>
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>                
                <div class="seats_seat seats_seat-reserved"></div>
                <div class="break"></div>
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>
                <div class="break"></div>
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>  
                <div class="break"></div>      
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>  
                <div class="break"></div>      
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>  
                <div class="break"></div>           
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-chosen"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>  
                <div class="break"></div>           
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>                
                <div class="seats_seat seats_seat-taken"></div>  
                <div class="break"></div>           
            </div>
        </section>
    </main>
    <footer>
        <div class="upper_wrapper">
            <div class="footer_logo">
                <img src="../assets/images/logo.png" alt="logo" class="logo_img">
            </div>
            <nav class="footer_nav">
                <div class="nav_option">Home</div>
                <div class="nav_option">About</div>
                <div class="nav_option">Movies</div>
                <div class="nav_option">Contacts</div>
            </nav>
        </div>
        <div class="bottom_wrapper">
            <p>Made by Vladyslav Pavlysko. 2024</p>
        </div>
    </footer>
</body>
<script>
    document.getElementById('home').onclick = () => {
        var url = "./home.html";
    window.location.href = url;
    }
    
    document.getElementById('movies').onclick = () => {
        var url = "./movies.html";
    window.location.href = url;
    }

    document.getElementById('logout').onclick = () => {
        var url = "./login.html";
    window.location.href = url;
    }
</script>
</html>